.MyName{
text-align: center;
    color: #A84975;
}

.photo1{
    text-align: center;
}


.profile{
    height: 60vh;
    background-color: rgb(135, 196, 86);
}


.image1{
    height: 10cm;
    text-align: right;
}

.text1{
height: 10vh;
color: rgb(161, 47, 66);
font-size: 0.8cm;
line
}